<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="/styles/about-style.css">
        <title>About do-it</title>

    </head>
    <body>
        
        <header>
            <h1 class="header-h1">do-it</h1>

            <nav>
                <ul class="navbar">
                    <li><a href="/home">Home</a></li>
                    <li><a href="">About</a></li>
  
                    <li><a href="/login">login / sign up</a></li>
                </ul>
            </nav>
        </header>

        <main> 
            <div class="about">
                <p>This web app is completely free and open source 🚀. You can support me by rating my project on github ⭐. </p>

                <div class="email">
                    <h3>email:</h3>
                    <p>ilyarazizi48@gmail.com</p>
                </div>
                

                <a href="https://github.com/ilyarazizi" target="_blank" class="logo">
                <i class="fa-brands fa-github fa-2x"></i>
                </a>


                <a href="https://t.me/ilyar_86" target="_blank" class="logo">
                <i class="fa-brands fa-telegram fa-2x"></i>
                </a>

                <a href="https://t.me/ilyar_86" target="_blank" class="logo">
                <i class="fa-brands fa-instagram fa-2x"></i>
                </a>

            </div>

        </main>


    </body>
</html>