<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/home-style.css">
        <title>do-it</title>
    </head>
    <body>
        <header>
            <h1 class="header-h1">do-it</h1>

            <nav>
                <ul class="navbar">
                    <li><a href="/home">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact us</a></li>
                    <li><a href="/login">login / sign up</a></li>
                </ul>
            </nav>
        </header>

        <main>

            <h1 class="main-h1">do-it</h1>
            <p class="main-p">a to do list To plan and carry out daily tasks 🎯
            <br>
            Take control of your life with the power of discipline.    
            </p>

            <div class="start-container">
                <a href="/to-do-list"><button>start your day here 😉</button></a>
                
            </div>

            <h2>about this app
                <br>
                ⏬
            </h2>
        </main>

    </body>
</html>