* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),
    url("../photo2.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(43, 43, 43, 0.6);
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header-h1 {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 2.2em;
    color: rgb(20, 187, 20);
}

.navbar {
    display: flex;
    margin-top: 15px;
    margin-right: 100px;
   
}

li {
    margin-left: 100px;
    list-style-type: none;

}


li a {
    color: white;
    text-decoration: none;
    transition: color 1s;
}

a:hover {

    color: rgb(20, 187, 20);
}

main {

    display: flex;
    justify-content: center;
}

.login-container {

    width:300px;
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;

}

form {
    width: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;

}

h2 {

    text-align: center;
    margin-top: 10px;
}

input {

    width: 100%;
    outline: none;
    border: 1px solid rgba(143, 143, 143, 0.5);
    border-radius: 3px;
    background-color: rgba(48, 48, 48, 0.1);
    height: 25px;
    margin-top: 25px;
    color: white;
    font-size: 1.01em;
    padding-left: 3px;


}

.button-container {

    display: flex;
    justify-content: center;
}

.button-container button {
    margin-top: 25px;
    height: 25px;
    width: 10vw;
    font-size: 1.03em;
    color: white;
    background-color: rgba(14, 129, 14, 0.8);
    border: 1px solid rgba(14, 129, 14, 0.8);
    border-radius: 3px;
    transition: 1s background-color;
}

.button-container button:hover {

    background-color: black;
}

p {

    text-align: center;
    margin-top: 20px;
}

span a{

    color: rgb(20, 187, 20);
}


#pass-btn {

    position: absolute;
    background-color: rgba(10, 10, 10, 0.1);
    border: none;
    font-size: 1.03em;
    right: 20px;
    top: 112px;
}

#notif-p {

    text-align: center;
}

.p-container {

    width: 100%;
}

@media screen and (min-width: 320px) and ( max-width: 700px) {
    header {

        flex-direction: column;
        justify-items: center;

    }
    .header-h1 {

        text-align: center;
        font-size: 2.5em;

    }


    .main-p {


        padding-right: 10px;
        padding-left: 10px;
    }

    ul {

        flex-direction: column;
        text-align: center;
    }

    li {

        font-size: 1.4em;
}
    .login-container {
        margin-top: 150px;
        width: 300px;
    }

    form {

        width: 250px;

    }


    .button-container button {

        width: 90px;
    }


}


@media screen and (min-width: 701px) and ( max-width: 1000px) {
    header {

        flex-direction: column;
        align-items: center;
        height: 100px;


    }


    .header-h1 {

        text-align: center;
    }

    ul {

        margin-bottom: 30px;
    }

    .login-container {
        margin-top: 150px;
        width: 300px;
    }

    form {

        width: 250px;

    }


    .button-container button {

        width: 90px;
    }



}

@media screen and (min-width: 1350px) and ( max-width: 1920px) {
    body {

        font-size: 1.2em;
    }

    .login-container {

        width: 350px;
        height: 350px;

    }

    input {

        height: 30px;
    }

    #pass-btn {

        top: 123px;
    }

    form {

        width: 300px;
    }

}